/* Styling only */
body {
  margin: 0;
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;

}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
  display : flex;
  justify-content : start;
}
/* Layouting only  (your work)*/
.a {
		grid-column: 1 / 4;
		grid-row: 1;
	}
	.b {
		grid-column: 1 ;
		grid-row: 2/4;
	}
	.c {
		grid-column: 2 ;
		grid-row: 2 ;
	}
	.d {
		grid-column: 3;
		grid-row: 2;
	}
  .e {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .f {
    grid-column: 1 / 4;
    grid-row: 4;
  }
 