body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin: 40px auto;
  max-width: 1100px;
}
.span2 {
  grid-column: span 2;

}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 30px;
  height: 100%;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  border-radius: 4px;
  background-color: #ddd;
  height: 150px;
  width: 100%;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.card-description {
  font-size: 0.95rem;
  color: #666;
  margin: 0;
  line-height: 1.4;
}
.card-button {
  padding: 10px;
  width: 100%;
  background: #5a5a5a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  margin-top: auto;
}

.card-button:hover {
  background: #333;
}
